.container {
    display: flex;  
    flex-wrap: wrap;
    width: 400px;
}


.item{
    width: 150px;
    height: 150px;
}

.green{
    color: green;
}

.yellow{
    color: yellow;
}

.purple{
    color: purple;
}

